// Garry's Mod server.cfg - Prop Hunt Server

hostname         "PlaZma Gaming - Prop Hunt"
rcon_password    "{{ rcon_password }}"
sv_password      ""
sv_lan           0
sv_setsteamaccount "{{ gslt_token }}"

// Prop Hunt Settings
ph_round_time                180
ph_round_limit               10
ph_hunters_to_freeze         3
ph_force_teambalance         1
ph_prop_change_limit         3
ph_pre_round_time            15
ph_post_round_time           8
ph_freeze_time               30
ph_taunt_delay               3
ph_hp_base                   100
ph_hp_per_prop_size          50

// Hunter Settings
ph_hunter_blindlock_time     15
ph_hunter_kill_penalty       5
ph_hunter_fire_penalty       1

// Prop Settings
ph_props_invulnerable        1
ph_prop_collision_damage     0

// Voice/Chat
sv_alltalk                   0

// Workshop Download/Redirect
// sv_downloadurl   "http://your.fastdl.server/garrysmod/"
// sv_allowdownload 1
// sv_allowupload   1
